.usedata
{
    border: 2px solid grey;
    background: linear-gradient(white,rgb(201, 158, 158));
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.usedata>button
{
    padding: 10px 20px;
   
    color: white;
    border: none;
    cursor: pointer;
   
    width: 200px;
    margin-bottom: 100px;
}
